@import "./colors";
@import "./variables";
@import "./navbar";
@import "./footer";

/*  CUSTOM SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-image: linear-gradient(rgba(30, 24, 74, 0.5), #ffffff) 30;
  border-style: solid;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $header_text;
}

/* HERO SECTION STYLES */

.hero {
  &_inner {
    @include flex_center();
    gap: 5rem;
  }

  &_left {
    width: 100%;
    max-width: 40rem;
  }
}
.small_text {
  color: #424242;
  font-family: Montserrat;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @media screen {
  }
}
